/* Reset */

.page404 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Typography/Styles */

.page404 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 180%;
    color: #666;
    background: linear-gradient(180deg, #F9FFFF 0%, #ECF9FF 100%);
    word-break: break-word;
}

.page404 a,
.page404 button {
    text-decoration: none;
    color: #46709F;
}

.page404 ul {
    margin-left: 0.7em;
}

.page404 li {
    list-style: none;
}

.page404 li:before {
    content: "· ";
    font-size: 24px;
    vertical-align: middle;
    line-height: 20px;
    display: inline-block;
    text-indent: -0.5em;
}

.page404 h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 120%;
    color: #3B80B2;
}

.page404 h2 {
    font-size: 1.5em;
    padding: 20px 0;
    font-weight: 600;
    line-height: 140%;
}

.page404 p {
    font-weight: 600;
    margin-bottom: 20px;
}


/* Layout */

.page404 .wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding: 20px;
}

.page404 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.page404 img {
    max-width: 570px;
    margin: 0 auto;
    width: 100%;
}

.page404 .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 20px;
    max-width: 610px;
    width: 100%;
}

.page404 .center {
    text-align: center;
}


/* Navigation */

.page404 #randomize {
    display: none;
}

.page404 button img.rotate {
    -webkit-animation: in 1s;
    animation: in 1s;
    width: 14px;
}

.page404 button:hover .rotate {
    -webkit-animation: out .5s;
    animation: out .5s;
}

@keyframes in {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes out {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.page404 button:hover,
.page404 a:hover {
    color: #3398CF;
}

.page404 button,
.page404 input {
    border: none;
    background: none;
    font-size: 14px;
    cursor: pointer;
}


/* button:hover .glyphicon {
    color: #3398CF;
    transition: 0.5s;
    transform: rotateZ(360deg);
} */


/* Mobile/Tablet */

@media screen and (max-width: 1023px) {
    .page404 .row {
        flex-direction: column !important;
    }
}